body {
  margin: 0;
  /*overflow: hidden;*/
  overflow-x: hidden;
  overflow-y: hidden;
}

html,body { height:100%; }

h1 {
   padding: 10px;
   width: 100%;
   text-align: center;
}

canvas {
  top: 0;
  position: absolute;
  z-index: -5;
  overflow: hidden;
}

div {
  background-color: 'transparent';
}

html {
  /*width: 100%;*/
  /*height: 100%;*/

  background: #11e8bb; /* Old browsers */
  /*background: -moz-linear-gradient(top,  #274029 0%,#315C2B 50%, #181F1C  100%); !* FF3.6-15 *!*/
  background: -webkit-linear-gradient(top,  #EFF2F7 0%,#D2D1D5 100%); /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(to bottom,   #274029 0%,#315C2B 50%, #181F1C  100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76D100', endColorstr='#3F0F9C',GradientType=0 ); !* IE6-9 *!*/
  /*background-attachment: fixed;*/
}
